body {
  margin: 0;
  padding: 0;
}

.header {
  background: url("../img/header_bg.jpg");
}

.main .examples .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .examples .cards .block1 {
  background: url("../img/Example_photo1.jpg") no-repeat center top;
}
.main .examples .cards .block2 {
  background: url("../img/Example_photo2.jpg") no-repeat center top;
}
.main .examples .cards .block3 {
  background: url("../img/Example_photo3.jpg") no-repeat center top;
}
.main .examples .cards .block4 {
  background: url("../img/Example_photo4.jpg") no-repeat center top;
}